site_name: OnlineDocumentsCollection
site_url: https://swhl.github.io/OnlineDocumentsCollection/
site_author: SWHL
site_description:
  优秀文档汇总

repo_name: SWHL/OnlineDocumentsCollection
repo_url: https://github.com/SWHL/OnlineDocumentsCollection

copyright: Copyright &copy; 2025 Maintained by SWHL.

theme:
  name: material
  language: zh
  custom_dir: overrides
  features:
    - announce.dismiss
    - content.tooltips
    - content.code.copy
    - content.tabs.link
    - content.footnote.tooltips
    - navigation.expand  # 默认打开所有的子节
    - navigation.tabs # 顶级索引被作为tab
    - navigation.tabs.sticky # tab始终可见
    - navigation.top # 开启顶部导航栏
    - navigation.tracking # 导航栏跟踪
    - navigation.footer
    - navigation.indexes
    - search.highlight # 搜索高亮
    - search.share # 搜索分享
    - search.suggest # 搜索建议
    - toc.follow # 目录跟踪-页面右侧的小目录

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)" # 浅色
      scheme: default
      primary: custom
      accent: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)" # 深色
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  icon:
    logo: logo
    previous: fontawesome/solid/angle-left
    next: fontawesome/solid/angle-right
    repo: fontawesome/brands/github
    tag:
      default-tag: fontawesome/solid/tag
      hardware-tag: fontawesome/solid/microchip
      software-tag: fontawesome/solid/laptop-code


plugins:
  - blog:
      archive: false
      post_date_format: short
      blog_toc: true
      categories_toc: true
      pagination: false
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - i18n:
      docs_structure: suffix
      fallback_to_default: true
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: zh
          name: 简体中文
          default: true
          build: true
        - locale: en
          name: English
          site_name: OnlineDocumentsCollection
          link: /en/
          nav_translations:
            文档合集: Documentation Collention
            谷歌工程实践文档: Google Engineering Practices Documentation
            概述: Overview
            开发者指南: Developer Guide
            CL开发者指南: CL Developer Guide
            写好CL描述: Writing Good CL Descriptions
            简短化CL: Small CLs
            如何处理评审者的建议？: How to Handle Reviewer Comments
            评审者指南: Reviewer Guide
            如何做代码评审？: How to Do a Code Review
            代码评审标准: Code Review Standards
            代码评审应该关注什么？: What to Look for in a Code Review
            代码评审的步骤: How to Navigate a Large CL
            代码评审的速度: Speed of Code Reviews
            在代码评审中如何写评论: How to Write Code Review Comments
            处理代码评审中的反驳: How to Handle Pushback in Code Reviews
            紧急情况: Emergency Procedures
  - git-committers:
      repository: SWHL/OnlineDocumentsCollection
      branch: main
      token: !!python/object/apply:os.getenv ["MKDOCS_GIT_COMMITTERS_APIKEY"]
  - git-revision-date-localized:
      enable_creation_date: true

markdown_extensions:
  - abbr
  - attr_list
  - pymdownx.snippets
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - footnotes
  - def_list
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
        anchor_linenums: true
        line_spans: __span
        pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences

extra:
  version:
    provider: mike

extra_javascript:
  - javascripts/katex.min.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - stylesheets/extra.css
  - https://static.zeoseven.com/zsft/292/main/result.css

nav:
  - 文档合集: index.md
  - 谷歌工程实践文档:
    - 概述: GoogleEngineeringPracticesDocumentation/index.md
    - 开发者指南:
      - CL开发者指南: GoogleEngineeringPracticesDocumentation/developer/index.md
      - 写好CL描述: GoogleEngineeringPracticesDocumentation/developer/cl-descriptions.md
      - 简短化CL: GoogleEngineeringPracticesDocumentation/developer/small-cls.md
      - 如何处理评审者的建议？: GoogleEngineeringPracticesDocumentation/developer/handling-comments.md
    - 评审者指南:
      - 如何做代码评审？: GoogleEngineeringPracticesDocumentation/reviewer/index.md
      - 代码评审标准: GoogleEngineeringPracticesDocumentation/reviewer/standard.md
      - 代码评审应该关注什么？: GoogleEngineeringPracticesDocumentation/reviewer/looking-for.md
      - 代码评审的步骤: GoogleEngineeringPracticesDocumentation/reviewer/navigate.md
      - 代码评审的速度: GoogleEngineeringPracticesDocumentation/reviewer/speed.md
      - 在代码评审中如何写评论: GoogleEngineeringPracticesDocumentation/reviewer/comments.md
      - 处理代码评审中的反驳: GoogleEngineeringPracticesDocumentation/reviewer/pushback.md
    - 紧急情况: GoogleEngineeringPracticesDocumentation/emergencies.md